body {
  color: #333;
  font-family: "Noto Sans JP", "Outfit", arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", meiryo, serif;
  line-height: 1.5;
  font-size: 3.5897435897vw;
  overflow-x: hidden;
  font-size: 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.5533980583vw;
  }
}
@media screen and (min-width: 1030px) {
  body {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  transition: color 0.3s;
}
a:focus, a:hover {
  opacity: 0.6;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.sp-block {
  display: block;
}
@media screen and (min-width: 768px) {
  .sp-block {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.button {
  display: block;
  margin-inline: auto;
  border-radius: 2em;
  text-align: center;
  color: #fff;
  background-color: #49c43d;
  border: 2px solid transparent;
  transition: 0.25s;
  position: relative;
  line-height: 1;
}
.button::after {
  position: absolute;
  content: "";
  width: 1.5384615385vw;
  height: 1.5384615385vw;
  border-top: 1px solid;
  border-right: 1px solid;
  top: 50%;
  right: 0.83em;
  transform: translateY(-50%) rotate(45deg);
}
@media screen and (min-width: 768px) {
  .button::after {
    width: 1.067961165vw;
    height: 1.067961165vw;
  }
}
@media screen and (min-width: 1030px) {
  .button::after {
    width: 0.6875rem;
    height: 0.6875rem;
  }
}
.button--attention {
  background: #fa7da3;
}

.box__title {
  line-height: 1;
  padding: 3.5897435897vw;
  background: #fa7da3;
  color: #fff;
  font-size: 4.6153846154vw;
  text-align: center;
  border-radius: 2.5641025641vw 2.5641025641vw 0 0;
}
@media screen and (min-width: 768px) {
  .box__title {
    padding: 2.427184466vw 2.427184466vw 1.9417475728vw;
    border-radius: 0.9708737864vw 0.9708737864vw 0 0;
    font-size: 2.7184466019vw;
  }
}
@media screen and (min-width: 1030px) {
  .box__title {
    padding: 1.5625rem 1.5625rem 1.25rem;
    border-radius: 0.625rem 0.625rem 0 0;
    font-size: 1.75rem;
  }
}
.box__title--fix {
  padding-bottom: 3.3333333333vw;
}
@media screen and (min-width: 768px) {
  .box__title--fix {
    padding: 2.3300970874vw 1.9417475728vw 2.0388349515vw;
  }
}
@media screen and (min-width: 1030px) {
  .box__title--fix {
    padding: 1.5rem 1.9417475728vw 1.3125rem;
  }
}
.box__title--large {
  font-size: 5.3846153846vw;
  padding: 1.0256410256vw 1.7948717949vw 1.5384615385vw;
}
@media screen and (min-width: 768px) {
  .box__title--large {
    font-size: 3.1067961165vw;
    padding: 0.3883495146vw 0.7766990291vw 0.9708737864vw 0vw;
  }
}
@media screen and (min-width: 1030px) {
  .box__title--large {
    font-size: 2rem;
    padding: 0.25rem 0.5rem 0.625rem 0rem;
  }
}
.box__body {
  border: 1px solid #fa7da3;
  padding: 5.1282051282vw;
  border-radius: 0 0 2.5641025641vw 2.5641025641vw;
  line-height: 1.63;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .box__body {
    padding: 2.3300970874vw 3.9805825243vw 3.3980582524vw;
    border-radius: 0 0 0.9708737864vw 0.9708737864vw;
    font-size: 2.0388349515vw;
  }
}
@media screen and (min-width: 1030px) {
  .box__body {
    padding: 1.5rem 2.5625rem 2.1875rem;
    border-radius: 0 0 0.625rem 0.625rem;
    font-size: 1.3125rem;
  }
}
.box__text {
  letter-spacing: -0.04em;
  font-size: 3.5897435897vw;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .box__text {
    letter-spacing: 0.004em;
    font-size: 2.0388349515vw;
  }
}
@media screen and (min-width: 1030px) {
  .box__text {
    font-size: 1.3125rem;
  }
}

.news {
  background: #fffedd;
}
.news__container {
  padding: 4.6153846154vw 5.1282051282vw 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  .news__container {
    padding: 3.6893203883vw 2.9126213592vw 2.3300970874vw;
  }
}
@media screen and (min-width: 1030px) {
  .news__container {
    padding: 2.375rem 1.875rem 1.5rem;
  }
}
.news__title {
  color: #fa7da3;
  font-size: 5.3846153846vw;
  position: relative;
  text-align: center;
  margin-left: 3.5897435897vw;
}
@media screen and (min-width: 768px) {
  .news__title {
    font-size: 3.3009708738vw;
    margin-left: 1.359223301vw;
  }
}
@media screen and (min-width: 1030px) {
  .news__title {
    font-size: 2.125rem;
    margin-left: 0.875rem;
  }
}
.news__title::before, .news__title::after {
  position: absolute;
  display: block;
  background-color: #fa7da3;
  content: "";
  height: 0.5128205128vw;
  width: 6.9230769231vw;
  top: 50%;
  left: 50%;
}
@media screen and (min-width: 768px) {
  .news__title::before, .news__title::after {
    height: 0.3883495146vw;
    width: 4.2718446602vw;
  }
}
@media screen and (min-width: 1030px) {
  .news__title::before, .news__title::after {
    height: 0.25rem;
    width: 2.75rem;
  }
}
.news__title::before {
  transform: translateX(-262%) rotate(60deg);
}
@media screen and (min-width: 768px) {
  .news__title::before {
    transform: translateX(-252%) rotate(60deg);
  }
}
.news__title::after {
  transform: translateX(115%) rotate(-60deg);
}
@media screen and (min-width: 768px) {
  .news__title::after {
    transform: translateX(131%) rotate(-60deg);
  }
}
.news__title-span {
  display: inline-block;
  transform: translateX(-6px);
}
@media screen and (min-width: 768px) {
  .news__title-span {
    transform: none;
  }
}
.news__box {
  margin-top: 3.0769230769vw;
}
@media screen and (min-width: 768px) {
  .news__box {
    margin-top: 1.6504854369vw;
    max-width: 53.3980582524vw;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1030px) {
  .news__box {
    margin-top: 1.0625rem;
    max-width: 34.375rem;
    transform: translateX(2px);
  }
}
.news__body {
  text-align: center;
  font-size: 6.9230769231vw;
  padding: 1.7948717949vw 2.3076923077vw 2.8205128205vw 2.3076923077vw;
}
@media screen and (min-width: 768px) {
  .news__body {
    padding: 1.1650485437vw 0.8737864078vw 2.0388349515vw 0.9708737864vw;
  }
}
@media screen and (min-width: 1030px) {
  .news__body {
    padding: 0.75rem 0.5625rem 1.3125rem 0.625rem;
  }
}
.news__text {
  font-size: 6.9230769231vw;
  line-height: 1;
  color: #fa7da3;
  margin-left: 1.7948717949vw;
}
@media screen and (min-width: 768px) {
  .news__text {
    font-size: 4.2718446602vw;
    margin-left: 0;
  }
}
@media screen and (min-width: 1030px) {
  .news__text {
    font-size: 2.75rem;
  }
}
.news__text--large {
  font-size: 10.7692307692vw;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .news__text--large {
    font-size: 6.6019417476vw;
    margin-left: 1.7475728155vw;
  }
}
@media screen and (min-width: 1030px) {
  .news__text--large {
    font-size: 4.25rem;
    margin-left: 1.125rem;
  }
}
.news__note {
  font-size: 2.5641025641vw;
  margin-top: 1.7948717949vw;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .news__note {
    font-size: 1.359223301vw;
    margin-top: 1.4563106796vw;
  }
}
@media screen and (min-width: 1030px) {
  .news__note {
    font-size: 0.875rem;
    margin-top: 0.9375rem;
  }
}

.cta__container {
  padding: 3.5897435897vw 5.1282051282vw 9.4871794872vw;
}
@media screen and (min-width: 768px) {
  .cta__container {
    padding: 5.4368932039vw 2.9126213592vw 5.4368932039vw;
  }
}
@media screen and (min-width: 1030px) {
  .cta__container {
    padding: 3.5rem 1.875rem 3.5rem;
  }
}
.cta__heading {
  border-top: 1px solid #50bfff;
  border-bottom: 1px solid #50bfff;
  color: #50bfff;
  padding: 1.2820512821vw;
  line-height: 1.6428571429;
  font-size: 4.358974359vw;
  letter-spacing: 0.1em;
  margin-top: 7.9487179487vw;
  margin-bottom: 2.8205128205vw;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .cta__heading {
    font-size: 2.7184466019vw;
    max-width: 55.3398058252vw;
    padding: 0.9708737864vw 0.9708737864vw 0.9708737864vw 1.1650485437vw;
    margin: 4.4660194175vw auto 1.6504854369vw;
  }
}
@media screen and (min-width: 1030px) {
  .cta__heading {
    font-size: 1.75rem;
    max-width: 35.625rem;
    padding: 0.625rem 0.625rem 0.625rem 0.75rem;
    margin: 2.875rem auto 1.0625rem;
  }
}
.cta__text-wrapper {
  margin-left: 0.2564102564vw;
}
@media screen and (min-width: 768px) {
  .cta__text-wrapper {
    max-width: 55.9223300971vw;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1030px) {
  .cta__text-wrapper {
    max-width: 36rem;
  }
}
.cta__text {
  font-size: 3.5897435897vw;
  margin-bottom: 0.7692307692vw;
}
@media screen and (min-width: 768px) {
  .cta__text {
    font-size: 2.2330097087vw;
    letter-spacing: -0.01em;
    margin-bottom: 0.4854368932vw;
  }
}
@media screen and (min-width: 1030px) {
  .cta__text {
    font-size: 1.4375rem;
    margin-bottom: 0.3125rem;
  }
}
.cta__text:last-child {
  margin-bottom: 0;
}
.cta__text--small {
  font-size: 2.8205128205vw;
  letter-spacing: normal;
}
@media screen and (min-width: 768px) {
  .cta__text--small {
    font-size: 1.7475728155vw;
  }
}
@media screen and (min-width: 1030px) {
  .cta__text--small {
    font-size: 1.125rem;
  }
}

.cv {
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .cv {
    max-width: 55.3398058252vw;
  }
}
@media screen and (min-width: 1030px) {
  .cv {
    max-width: 35.625rem;
  }
}
.cv__title {
  font-size: 5.3846153846vw;
  letter-spacing: 0.1em;
  line-height: 1.3333333333;
  margin-bottom: 2.3076923077vw;
  color: #fa7da3;
  text-align: center;
  margin-left: 2.8205128205vw;
}
@media screen and (min-width: 768px) {
  .cv__title {
    font-size: 3.3009708738vw;
    margin-left: 1.5533980583vw;
    margin-bottom: 1.359223301vw;
  }
}
@media screen and (min-width: 1030px) {
  .cv__title {
    font-size: 2.125rem;
    margin-left: 1rem;
    margin-bottom: 0.875rem;
  }
}
.cv__button {
  font-size: 5.3846153846vw;
  padding: 2.5641025641vw 17.4358974359vw;
  line-height: 1.3333333333;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .cv__button {
    font-size: 3.3009708738vw;
    padding: 1.6504854369vw 10.5825242718vw 1.8446601942vw 10.7766990291vw;
  }
}
@media screen and (min-width: 1030px) {
  .cv__button {
    font-size: 2.125rem;
    padding: 1.0625rem 6.8125rem 1.1875rem 6.9375rem;
  }
}
.cv__button::after {
  width: 3.0769230769vw;
  height: 3.0769230769vw;
  right: 8.2051282051vw;
}
@media screen and (min-width: 768px) {
  .cv__button::after {
    width: 1.9417475728vw;
    height: 1.9417475728vw;
    right: 9.7%;
    border-top: 0.1941747573vw solid;
    border-right: 0.1941747573vw solid;
  }
}
@media screen and (min-width: 1030px) {
  .cv__button::after {
    width: 1.25rem;
    height: 1.25rem;
    border-top: 0.125rem solid;
    border-right: 0.125rem solid;
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 15.3846153846vw;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .header {
    height: 8.932038835vw;
  }
}
@media screen and (min-width: 1030px) {
  .header {
    height: 5.75rem;
  }
}
.header__container {
  display: flex;
  align-items: center;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .header__container {
    justify-content: space-between;
    max-width: 105.8252427184vw;
    padding: 0 2.9126213592vw;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1030px) {
  .header__container {
    max-width: 68.125rem;
    padding: 0 1.875rem;
  }
}
.header__logo {
  width: 18.4615384615vw;
  margin: 0 1.5384615385vw 0 3.0769230769vw;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 9.4174757282vw;
    margin: 0;
    margin-left: 0.2912621359vw;
  }
}
@media screen and (min-width: 1030px) {
  .header__logo {
    width: 6.0625rem;
    margin-left: 0.1875rem;
  }
}
.header__list {
  display: flex;
  gap: 2.5641025641vw;
}
@media screen and (min-width: 768px) {
  .header__list {
    gap: 1.9417475728vw;
    margin-top: -0.2912621359vw;
  }
}
@media screen and (min-width: 1030px) {
  .header__list {
    gap: 1.25rem;
    margin-top: -0.1875rem;
  }
}
.header__button {
  font-size: 3.0769230769vw;
  padding: 1.7948717949vw 4.6153846154vw 2.0512820513vw 2.5641025641vw;
  letter-spacing: 0.04em;
  text-align: center;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .header__button {
    font-size: 2.0388349515vw;
    padding: 1.1650485437vw 3.3980582524vw 1.359223301vw 2.2330097087vw;
    letter-spacing: 0;
  }
}
@media screen and (min-width: 1030px) {
  .header__button {
    padding: 0.75rem 2.1875rem 0.875rem 1.4375rem;
    font-size: 1.3125rem;
  }
}
.header__span {
  font-size: 2.5641025641vw;
}
@media screen and (min-width: 768px) {
  .header__span {
    font-size: 1.7475728155vw;
  }
}
@media screen and (min-width: 1030px) {
  .header__span {
    font-size: 1.125rem;
  }
}

.mainvisual {
  margin-top: 15.3846153846vw;
  color: #fff;
  background: #fa7da3;
}
@media screen and (min-width: 768px) {
  .mainvisual {
    margin-top: 8.932038835vw;
  }
}
@media screen and (min-width: 1030px) {
  .mainvisual {
    margin-top: 5.75rem;
  }
}
.mainvisual__container {
  padding: 0 0 4.6153846154vw;
  display: flex;
  justify-content: flex-end;
  position: relative;
  background: url("/assets/image/mainvisual_bg.png") no-repeat 1.0256410256vw bottom/53.5897435897vw auto;
}
@media screen and (min-width: 768px) {
  .mainvisual__container {
    padding: 0 2.9126213592vw 0.9708737864vw;
    width: 100vw;
    margin-inline: auto;
    background: #fa7da3 url(/assets/image/mainvisual_bg.png) no-repeat 0.0970873786vw bottom/47.1844660194vw auto;
  }
}
@media screen and (min-width: 1030px) {
  .mainvisual__container {
    padding: 0 1.875rem 0.625rem;
    width: 64.375rem;
    background: #fa7da3 url(/assets/image/mainvisual_bg.png) no-repeat 0.0625rem bottom/30.375rem auto;
  }
}
.mainvisual__title {
  width: 42.0512820513vw;
  position: absolute;
  left: 5.1282051282vw;
  top: 5.641025641vw;
}
@media screen and (min-width: 768px) {
  .mainvisual__title {
    width: 52.5242718447vw;
    position: absolute;
    left: 2.0388349515vw;
    top: 0;
  }
}
@media screen and (min-width: 1030px) {
  .mainvisual__title {
    width: 33.8125rem;
    left: 1.3125rem;
  }
}
.mainvisual__label-wrapper {
  width: 48.2051282051vw;
  padding: 6.4102564103vw 0 5.8974358974vw 7.1794871795vw;
  background: #fca4bf;
  line-height: 1;
  box-shadow: 5px 5px 0px 0px rgb(231, 116, 151);
}
@media screen and (min-width: 768px) {
  .mainvisual__label-wrapper {
    padding: 4.2718446602vw 0 4.2718446602vw 5.6310679612vw;
    width: 41.067961165vw;
    margin-left: auto;
  }
}
@media screen and (min-width: 1030px) {
  .mainvisual__label-wrapper {
    padding: 2.75rem 0 2.75rem 3.625rem;
    width: 26.4375rem;
  }
}
.mainvisual__label {
  display: flex;
}
.mainvisual__bg {
  color: #fa7da3;
  background: #fff;
  font-size: 3.3333333333vw;
  padding: 1.0256410256vw 0 1.5384615385vw 0.7692307692vw;
  margin-bottom: 1.7948717949vw;
  width: 11.7948717949vw;
}
@media screen and (min-width: 768px) {
  .mainvisual__bg {
    font-size: 2.8155339806vw;
    margin-bottom: 1.9417475728vw;
    padding: 0.9708737864vw 0 1.2621359223vw 0.8737864078vw;
    width: 10.1941747573vw;
  }
}
@media screen and (min-width: 1030px) {
  .mainvisual__bg {
    font-size: 1.8125rem;
    padding: 0.625rem 0 0.8125rem 0.5625rem;
    width: 6.5625rem;
    margin-bottom: 1.25rem;
  }
}
.mainvisual__label-text {
  font-size: 6.1538461538vw;
}
@media screen and (min-width: 768px) {
  .mainvisual__label-text {
    font-size: 5.2427184466vw;
    margin-left: 0.2912621359vw;
  }
}
@media screen and (min-width: 1030px) {
  .mainvisual__label-text {
    font-size: 3.375rem;
    margin-left: 0.1875rem;
  }
}
.mainvisual__price-wrapper {
  margin-left: 2.5641025641vw;
}
@media screen and (min-width: 768px) {
  .mainvisual__price-wrapper {
    width: auto;
    margin-left: 2.0388349515vw;
  }
}
@media screen and (min-width: 1030px) {
  .mainvisual__price-wrapper {
    margin-left: 1.3125rem;
  }
}
.mainvisual__price {
  color: #fffd7a;
  font-size: 9.2307692308vw;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .mainvisual__price {
    font-size: 7.8640776699vw;
  }
}
@media screen and (min-width: 1030px) {
  .mainvisual__price {
    font-size: 5.0625rem;
  }
}
.mainvisual__price--large {
  font-size: 19.4871794872vw;
  line-height: 0.62;
}
@media screen and (min-width: 768px) {
  .mainvisual__price--large {
    font-size: 16.6019417476vw;
  }
}
@media screen and (min-width: 1030px) {
  .mainvisual__price--large {
    font-size: 10.6875rem;
  }
}
.mainvisual__list {
  width: 34.1025641026vw;
  margin: 5.3846153846vw 6.6666666667vw 0 auto;
}
@media screen and (min-width: 768px) {
  .mainvisual__list {
    width: auto;
    margin: 4.4660194175vw auto;
  }
}
@media screen and (min-width: 1030px) {
  .mainvisual__list {
    margin: 2.875rem auto;
  }
}
.mainvisual__subscribe {
  text-align: right;
  font-size: 3.5897435897vw;
  padding-right: 6.4102564103vw;
  margin-top: 1.2820512821vw;
}
@media screen and (min-width: 768px) {
  .mainvisual__subscribe {
    font-size: 2.6213592233vw;
    margin-top: 0.0970873786vw;
    padding-right: 6.0194174757vw;
  }
}
@media screen and (min-width: 1030px) {
  .mainvisual__subscribe {
    font-size: 1.6875rem;
    margin-top: 0.0625rem;
    padding-right: 3.875rem;
  }
}
.mainvisual__subscribe-price {
  font-family: "Outfit", serif;
  font-weight: 400;
}
.mainvisual__subscribe-month {
  font-size: 2.3076923077vw;
}
@media screen and (min-width: 768px) {
  .mainvisual__subscribe-month {
    font-size: 1.6504854369vw;
  }
}
@media screen and (min-width: 1030px) {
  .mainvisual__subscribe-month {
    font-size: 1.0625rem;
  }
}
.mainvisual__button {
  font-size: 4.6153846154vw;
  padding: 1.7948717949vw;
  border: 1px solid #fff;
  line-height: 1;
  text-align: center;
  margin-bottom: 3.3333333333vw;
}
@media screen and (min-width: 768px) {
  .mainvisual__button {
    letter-spacing: -0.05em;
    font-size: 2.7184466019vw;
    padding: 1.8446601942vw;
    margin-bottom: 2.0388349515vw;
  }
}
@media screen and (min-width: 1030px) {
  .mainvisual__button {
    font-size: 1.75rem;
    padding: 1.1875rem;
    margin-bottom: 1.3125rem;
  }
}